/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #7f888f;
    transition: all .3s;
}

a:hover {
    color: #f56a6a;
}

body, input, select, textarea {
    color: #7f888f;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.55;
}

/* Main */

#container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

#main {
    width: 75%;
    height: 100vh;
}

#main .inner {
    padding: 0 3.66667em 0 3.66667em;
}

/* App*/
#app {
    width: 100%;
    background: aliceblue;
    height: calc(100vh - 134px);
}

/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 5px #f56a6a;
    padding: 2em 0 1em 0;
    position: relative;
    color: #7f888f;
}

/* Sidebar */
#sidebar {
    width: 25%;
    min-width: 300px;
    height: 100vh;
    background-color: #e5e7e9;
}

#options {
    color: #7f888f;
    /*color: #3d4449;*/
}

.major > h2 {
    border-bottom: solid 3px #f56a6a;
    display: inline-block;
    padding: 0 0.75em 0.5em 0;

}

.logo > h1 {
    text-align: center;
    font-size: 1em;
}

.inner {
    color: #3d4449;
    padding: 1.66667em 1.66667em 1.33333em 1.66667em;
}

.contact {
    list-style: none;
    padding: 0;
}

.contact li::before {
    color: #f56a6a;
    display: inline-block;
    font-size: 1.5em;
    height: 1.125em;
    left: 0;
    line-height: 1.125em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 1.5em
}

/* Icons */
.icons {
    padding: 0;
    margin: 0;
}

.icon > .label {
    display: none;
}

.icons li {
    font-size: 1.25em;
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}

.github__block {
    font-weight: 700;
    position: absolute;
    top: 35px;
    right: 60px;
}

.github__link {
    text-decoration: none;
    color: #e91e63;
    line-height: 1.3;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    margin-left: 10px;
}

.github__link:hover {
    color: #a9a9a9;
}

.github__block a svg {
    vertical-align: middle;
    margin-top: -4px;
}

.github__link svg path {
    fill: #e91e63;
    -webkit-transition: fill .4s;
    -o-transition: fill .4s;
    transition: fill .4s;
}

.github__link:hover svg path {
    fill: #a9a9a9;
}

/*  Footer  */

#footer {
    position: relative;
    bottom: -70px;
    padding: 5px;
    background: #f9f9f9;
    text-align: center;
}

.copyright {
    font-weight: bold;
}

.linked__footer {
    height: 50px;
    background: aquamarine;
    text-align: center;
    line-height: 50px;
}

.linked__footer > p {
    margin: 0;
}

/* Form */

input[type="number"] {
    height: 2.5em;
    background: #ffffff;
    border-radius: 0.375em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;

}

input[type="checkbox"],
input[type="radio"] {
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label::after,
input[type="radio"] + label::after {
    background: #ffffff;
    border-radius: 0.375em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    content: 'off';
    height: 1.65em;
    right: 0;
    top: 0;
    margin-right: 10px;
    position: absolute;
    line-height: 1.58125em;
    width: 2.65em;
    text-align: center;
    transition: all .4s;
    cursor: pointer;
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    background: #3d4449;
    border-color: #3d4449;
    color: #ffffff;
    content: 'on';
}

input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
    cursor: pointer;
}

.form__item {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.2em;
}

/*Button */
.btn__group {
    display: flex;
    justify-content: space-between;

}

.btn__group .button {
    width: 45%;
    padding: 10px 0;
    font-weight: bold;
    background-color: #20b0b2;
    box-shadow: none;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
